<div class="input-group clockpicker">
    <input name="{{ typeTime }}" type="text" class="form-control" value="{{ hour }}:{{ minute }}">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>
</div>
<script type="text/javascript">
    $('.clockpicker').clockpicker({
        align: 'left',
        placement: 'top',
        donetext: 'Valider'
    });
</script>