div#bandeau {
    margin-top:50px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.orange{
    color:#ec971f !important;
}
.rowCustomBeige {
    background-color: #dfd9c9;
    /*padding-top:20px;*/
}
.bigTexte {
    font-size:3.5em;
}